body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 5vh 5vw;
}

input {
    border: black solid 1px;
    padding: 1vh 1vw;
    width: 15vw;
    border-radius: 2rem;
    margin: 0 5vw;
}

#tabell {
    margin: 2.5vh 5vw;
}