body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 5vh 5vw;
}

input {
    border: black solid 1px;
    padding: 1vh 1vw;
    width: 15vw;
    border-radius: 2rem;
    margin: 0 5vw;
}

#tabell {
    width: 60%;
    padding: 2vh 4vw;
}

#tabell th {
    padding: 1vh 1vw;
    text-align: left; 
    cursor: pointer;
}

#tabell td {
    padding: 1vh 1vw;
    border-bottom: 1px solid #ddd;
}

#tabell th:hover {
    background-color: #D9D9D9;
}